## secured files
/info/*
/certs-cache/*
/public/*
!/public/index.html
/data/*
!/data/users-go.json
!/data/games.json
/logs/*
/deploy.conf*
/.env*
/go.mod*
/go.sum*
old-*
_old_*
old_*
*/*.swp*
*/_old*

## common files
/123.go*
.*
!.gitignore
*~
/main*
!/main.go
/vendor/*
/favicon.ico
